

*{
    box-sizing: border-box;
}
body{
    background-image: url(./image/gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: #fff;
    font-family:  sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
h1{
    font-size: 60px;
    margin: -80px 0 40px;
}
.year {
    font-size: 200px;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.countdown {
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.time h2{
    margin: 0 0 5px;
}
@media (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    .time{
        margin: 5px;
    }
    .time h2 {
        font-size: 20px;
        margin: 0;
    }
    .time small {
        font-size: 10px;
    }

}